{%  extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row m-1 p-1 mt-5">
        <div class="col-xs-12 col-md-5 m-auto">
            <div class="card mt-3">
              <div class="card-header">
                {{ formname }}
              </div>
              <div class="card-body">
                  {% if text %}
                  <p class="card-text">{{ text }}</p>
                  {% endif %}
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-sm btn-info mt-1">submit</button>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}