{%  extends 'base.html' %}
{% load static %}
{% block head %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
       <link rel="stylesheet" href={% static 'stylesheet/dashboard/odash.css' %}>
{% endblock %}


{% block body %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" id="roomform">
                {% csrf_token %}
                <div class="form-group">
                    <label >Room Title</label>
                    <input type="text" maxlength=20 required class="form-control" name="title">

                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <input type="text" maxlength="150" class="form-control" aria-describedby="desHelp" name="description">
                    <small id="desHelp" class="form-text text-muted">Write short description of your room.</small>
                  </div>

            </form>
          </div>
          <div class="modal-footer">
            <button id="close_modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="addroom('roomform')" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Container for dashboard -->
    <div class="row">
        <div class="col d-none d-lg-block" id="sidebar">
            <ul>
                {% for li in options %}
                    <li><a href="{{ li.link }}" onclick="{{ li.method }} "><span class="material-icons vertical-align-middle padding-bottom-3">{{ li.icon }}</span>&nbsp;&nbsp; {{ li.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col  d-lg-none" id="sm-sidebar">
            <ul>
                {% for li in options %}
                    <li><a href="{{ li.link }}" onclick="{{ li.method }}">{{ li.label }}</a></li>
                {% endfor %}
            </ul>
        <hr>
        </div>


        <div class="col" id="c_container">
            <div id="canvas" >
                      <!-- code injection by JS //do not touch this div -->
            </div>
        </div>
    </div>

    <!-- Container for footer section -->



    <script src="{% static 'js/omanage.js' %}"></script>
{% endblock %}
