{%  extends 'base.html' %}
{% load static %}
{% block head %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
       <link rel="stylesheet" href={% static 'stylesheet/dashboard/tdash.css' %}>
{% endblock %}
{% block body %}
<div class="row">
        <div class="col d-none d-lg-block" id="sidebar">
        <div class="text-center d-none d-lg-block mt-4">
             <img src="{{ owner.profile_pic }}" class="rounded-circle" height="100px" width="100px" alt="{{ owner.title }}">
            <h2 class="display-4 p-1" style="font-size: 20px;color: ghostwhite">{{ owner.title }}</h2>
            <p style="color: ghostwhite;">{{ owner.room }}</p>
        </div>
            <ul>
                {% for li in options %}
                    <li><a href="{{ li.link }}" onclick="{{ li.method }} "><span class="material-icons vertical-align-middle padding-bottom-3">{{ li.icon }}</span>&nbsp;&nbsp; {{ li.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col  d-lg-none" id="sm-sidebar">
            <ul>
                {% for li in options %}
                    <li><a href="{{ li.link }}" onclick="{{ li.method }}">{{ li.label }}</a></li>
                {% endfor %}
            </ul>
        <hr>
        </div>


        <div class="col" id="c_container">
            <div id="canvas" >
                      <!-- code injection by JS //do not touch this div -->
            </div>
        </div>
    </div>
    <script src="{% static 'js/tmanage.js' %}"></script>
    <script src="{% static 'js/courseeditor.js' %}"></script>
{% endblock %}